
/*Developed by Mohammed, Naimish, Sergii, Smita 
    Created in june 2020 */
@charset "UTF-8";
html{
  
    background-image: url("../images/fullbage_bg.png");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
  font-family: Verdana, sans-serif;
  background-color:white;
  min-height: 100%;
  margin: 0 auto;    
  min-width: 320px;
  max-width: 1020px;
  width: 100%;
  box-shadow: rgb(51,51,51) 20px 0px 40px, rgb(51,51,51) -20px 0px 40px;
    /*inset rgb(51,51,51) 0px 0px 40px;*/

    
 }
 #online_reservaion_form{
   float: left;
 }

#about_body{
  text-align: justify;
  text-justify: inter-word;
}

#table_home_body{
    width: 100%;
    margin: 0 auto;
}
/*menu*/
#table_menu_body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;   
}


#table_menu_body tr, #table_menu_body tr td{
  width: 33%;
  text-align: center;
  margin: 5px 5px 5px 5px;

  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
.img_menu{
  width: 90%;
  height: 90;
}

/*appetizers*/
#table_appetizers_body{
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;   
}

#table_appetizers_body tr, #table_appetizers_body tr td{
  width: 200px;
  text-align: center;
}

.img_appetizers{
  width: 150px;
  height: 150px;
}
/*desserts*/

.img_desserts{
  width: 150px;
  height: 150px;
}
#table_desserts_body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;   
}

#table_desserts_body td, #table_desserts_body td tr{
  width: 200px;
  text-align: center;
} 


/*lunch*/

#table_lunch_body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;   
}
#table_lunch_body tr, #table_lunch_body tr td{
  width: 200px;
  text-align: center;
}

.img_lunch{
  width: 150px;
  height: 150px;
}





#img_logo{
    width:110px;
    height:110px;
}
#table_hours tr td{
  padding-left: 15px;
}
#table_header, #table_header tr, #table_header td{
    border: none;
    font-family:Edwardian Script ITC; 
    font-size:170%;
}

.body_margin{
  margin-left: 20px;
  margin-right: 20px;
}
.about_body{
  margin-left: 20px;
  margin-right: 20px;

}

#table_reservation{
  border: 1px solid lightgray;
  margin-top: 10px;

}

.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
nav{
    font-size: large;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

/*order*/
  #table_orders {
    border: 1px solid black;
    width: 60%;    
}

#table_orders tr, #table_orders tr th, #table_orders tr td{
  border: 1px solid black;
  height: 100px;
}




#tr_order, #td_order, #th_order{
    border: 1px solid black;
    height: 100px;}


    .inputs_background_color
    {
        background-color: rgb(255, 255, 255);
    }


    #compl_menu{
      margin: 0 auto;
      width: 350px;
      height: 200px;
      display: block;
    }


    /*end order*/

  * {box-sizing: border-box}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}